<aside>
    <nav>
        <ul class="sidebar-nav-list">
            <li><a href="/catalog">Home</a></li>
            <li><a href="/catalog/colognes">All Colognes</a></li>
            <li><a href="/catalog/brands">All Brands</a></li>
            <li><a href="/catalog/scentnotes">All Scent Notes</a></li>
            <li><a href="/catalog/cologneinstances">All Cologne-Instances</a></li>
            <li><hr></li>
            <li><a href="/catalog/cologne/create">Create New Cologne</a></li>
            <li><a href="/catalog/brand/create">Create New Brand</a></li>
            <li><a href="/catalog/scentnote/create">Create New Scent Note</a></li>
            <li><a href="/catalog/scentnote/create">Create New Cologne-Instance</a></li>
        </ul>
    </nav>
</aside>