body {
  font-family: "Mulish", sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  height: 100vh;
}

p, a {
  font-size: 1.1rem;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

header {
  padding: 2rem;
  text-align: center;
}

footer {
  text-align: center;
  background-color: lightgray;
}

main {
  display: flex;
  gap: 10rem;
  padding: 0 2rem 2rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sidebar-nav-list {
  list-style: none;
}